\documentclass[12pt,a4paper]{article}

\usepackage[UTF8]{ctex}
\usepackage[margin=2.5cm]{geometry}
\usepackage{setspace}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage{enumitem}
\usepackage{titlesec}

\onehalfspacing

% 国家社科基金申请书格式
\titleformat{\section}{\large\bfseries}{\thesection、}{0em}{}
\titleformat{\subsection}{\normalsize\bfseries}{\thesubsection.}{0.5em}{}

\title{\textbf{国家社会科学基金项目申请书}}
\author{ {{ authors }} }
\date{}

\begin{document}
\maketitle

\vspace{2em}
\begin{center}
\begin{tabular}{ll}
\textbf{课题名称：} & \multirow{2}{*}{ {{ title }} } \\
& \\
\textbf{首席专家：} & {{ authors }} \\
\textbf{申请日期：} & {{ date }} \\
\end{tabular}
\end{center}

\vspace{2em}

{% for section in sections %}
\section{ {{ section.title }} }
{{ section.content }}

{% endfor %}

{% if references %}
\section*{主要参考文献}
\addcontentsline{toc}{section}{主要参考文献}
\begin{enumerate}[label={[\arabic*]}]
{% for ref in references %}
\item {{ ref }}
{% endfor %}
\end{enumerate}
{% endif %}

\end{document}
